body {
  font-family: "Montserrat";
  font-size: 16px;
  text-align: center;
  line-height: 140%;
  color: rgba(0, 0, 0, .8);
  background: #FFFFFF url(background.png) no-repeat center bottom;
  background-size: contain;
}

a {
  color: #5e75ff;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 20px;
  border: 3px solid #5e75ff;
  border-left: 0;
  border-right: 0;
}

.avatar {
  width: 128px;
}

.avatar img {
  max-width: 100%;
  border: 3px solid #5e75ff;
  border-radius: 50%;
}

.tags {
  margin-bottom: 1em;
  max-width: 384px;
}

.tags .tag {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  padding: 4px 8px;
  margin: 3px 0;
  border-radius: 16px;
  font-weight: 600;
  color: #5e75ff;
  background: #FFFFFF;
  border: 2px solid #5e75ff;
}

.links {
  font-size: 32px;
}

.links a {
  color: #495057;
  transition: color 0.3s;
}

.links a:hover {
  color: #79848f;
}
